@font-face {
                font-family:'MyriadPro-Regular';
                src: url('../fonts/MyriadPro-Regular_gdi.eot');
                src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
                                url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
                                url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
                                url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+0020-25CA;
}
 
 
@font-face {
    font-family: 'GothamBold_21010';
    src: url('../fonts/fonts/GothamBold_21010.eot');
    src: url('../fonts/GothamBold_21010.eot') format('embedded-opentype'),
         url('../fonts/GothamBold_21010.woff2') format('woff2'),
         url('../fonts/GothamBold_21010.woff') format('woff'),
         url('../fonts/GothamBold_21010.ttf') format('truetype'),
         url('../fonts/GothamBold_21010.svg#GothamBold_21010') format('svg');
}
 
/** {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}*/

 
 
/** Correct `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }
 
/** Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
  display: inline-block; }
 
/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }
 
/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] {
  display: none; }
 
 
html {
  font-size: 100%;
      -webkit-font-smoothing: antialiased;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }
 
html, button, input, select, textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  
  width: 100%;
  height: 100%; }
 
 
*{ margin:0; padding:0; outline:none;}
body{ width:100%; height:100%; background:#fff; font-family:'MyriadPro-Regular', Helvetica, Arial, sans-serif; color:#000; font-weight:normal;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
 
a {
  outline: none;
  border: none;
  text-decoration: none; }
 
a:hover {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }
 
link {
  text-decoration: none;
  border: 0;
  outline: none; }
 
  
 img {
  border: 0;
  outline: none;
  display: block; }
 
/** Address styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }
 
/** Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b, strong {
  font-weight: bold; }
 
 
 
 


 
body.cocktail-reception-bg{ background:#0e3d57;}
#header { position: relative; width: 100%; z-index: 1; background: #fff; overflow-x: hidden;}
#header .container{ width: 100%; max-width: 980px; margin: 0 auto !important;}
#header p { font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif; font-size: 18px;letter-spacing: 1px; color:#fff; font-weight: 600; line-height: 48px; margin: 0; padding: 0;}
#header { height: 48px; background:url(../img/bg-header.png) no-repeat center 0; z-index: 6;}
#header .container { height: 48px; background: #0071a9 url(../img/bg-header.png) no-repeat right 0;}
.logo a {
  display: block;
  width: 177px;
  height: 48px;
  text-indent: -9999px;
  background: url(../img/logo-header.png) no-repeat -15px 0;
}
.padboth {
    padding: 0 20px;
}
ul.nav, ul.nav li {
  margin: 0;
  display: block;
  list-style-image: none;
  width: auto;
}
ul.nav.hrz li {
  float: left;
}

#header .container {
    height: 48px;
    background: url(../img/bg-header-inside.png) no-repeat 0 0;}

 
.menu{ width:100%; float:left; height:61px; background: url(../img/bg-primary-nav2.png) no-repeat; background-position: center top; position: relative;}
.navigation{ width:980px; margin:0 auto;}
.navigation ul{ margin:0; padding:0; list-style-type:none; margin-left:0px; background: url(../img/bg-primary-nav.png) no-repeat 240px top}
.navigation ul li{ margin:0; padding:0 15px; display:inline; background: url(../img/bg-primary-nav-item.png) no-repeat center top; z-index: 0; height: 60px; float: left;}
.navigation ul li:hover{ color:#004165; margin:0; background: url(../img/bg-primary-nav-item.png) no-repeat center bottom;}
.navigation ul li a{ font-size: 15px; line-height:60px; font-weight:600; color:#1792d2; font-family:'MyriadPro-Regular', Helvetica, Arial, sans-serif; text-decoration:none;    padding: 20px 0px 22px 0; }
.navigation ul li a:hover{ color:#004165;}
.navigation ul li a.active{ color:#004165;}

.navigation ul li.active{ color:#004165; background: url(../img/bg-primary-nav-item.png) no-repeat center bottom;}
.navigation ul li.frst{ padding-left:0;}
 
 
.wrapper{ width:100%; float:left; margin-top: -10px;}
.wrapper.cocktail-reception{width:100%; float:left;    margin-top: -10px;}
 
 
 
 
 
.main-banner-img{ width:100%; height:637px; float:left; background:#999;}
.main-banner-img .main-bnnr-layout{ width:1000px; margin:0 auto;}
.main-banner-img.home-bnr{ background:url(../img/anz-home-bg.jpg) no-repeat center center; background-size:cover;}
.main-banner-img.cocktail-bnr{ height:332px; background:url(../img/cocktail-reception.jpg) no-repeat center center; background-size:cover;}
.main-banner-img.cocktail-bnr.deligates-bnr{ height:332px; background:url(../img/deligates.jpg) no-repeat center center; background-size:cover;}
.main-banner-img.cocktail-bnr.makeanappointment{ height:332px; background:url(../img/make-an-appointment.jpg) no-repeat center center; background-size:cover;     background-position: 0px 76%;}
.conversation{ width: 32%; margin:0 auto;}
.conversation img{ width:100%; margin-top:80px;}
.main-banner-img h1{ color:#fff; font-size:44px; letter-spacing:1px; font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif;    font-weight: 600; text-transform:uppercase;}
.main-banner-img h1 span{ display: block;}
.main-banner-img h1.cocktail-reception-heading{ margin-top:80px;}
 
 
 
.cocktail-reception{ width:1000px; margin:0 auto;}
.cocktail-reception-form{ width:100%; float:left;}
.form-title-and-heading{ float:left;         margin-top: 42px;width: 100%;}
.cocktail-reception-form h1 span{ display: block;}
.cocktail-reception-form h1{ font-size:55px;  line-height:55px; font-weight:normal;}
.cocktail-reception-form p{ font-size:14px;font-weight:normal; color:#414042; font-family: Helvetica, Arial, sans-serif; }
.cocktail-reception-form p span{ display: block;}
.cocktail-reception-form p span.topspacing{ margin-top:15px;}
.cocktail-reception-form p.makeanapointment{     font-size: 18px;font-family:'MyriadPro-Regular', Helvetica, Arial, sans-serif;font-weight: 600;line-height: 22px; color: #414042; }
.form-row label.makeanapointment{ font-size:14px;font-family: Helvetica, Arial, sans-serif}
.form-row h3.makeanapointment{ font-size:14px;font-family: Helvetica, Arial, sans-serif; }
 
.form-row input[type="text"].makeanapointment{     width: 250px; height:27px;color:#414042; font-size:11px; }
.form-row .left-col.makeanapointment{     width: 258px;}
.form-row .right-col.makeanapointment{     width: 258px;}
 
.form-feild-box input[type="text"].makeanapointment{     width: 252px; height:27px;color:#414042; font-size:11px; padding-left:6px; }
.full-width-feild input[type="text"].makeanapointment{     width: 432px; padding-left:10px; height:27px;color:#414042; font-size:11px; }
.form-row.makeanapointment{         width: 100%;}
 
.form-row .left-col.makeanapointment-3{     width: 258px; }
.form-row .right-col.makeanapointment-3{     width: 258px;     margin-left: 40px; float:left;}
 
 
.form-row .left-col.makeanapointment-2{        width: 207px;}
.form-row .right-col.makeanapointment-2{         width: 207px;float: left;margin-left: 27px;}
.form-wrapper.makeanapointment{ max-width:1000px;}
 
 
.form-wrapper .hidden{display: none;}
  @media all and (min-width: 200px) and (max-width: 420px) {
      .form-wrapper .hidden{display: block;}
      .step_2{display: none;}
  }
span.error{color: red!important; font-size: 12px!important;font-family:'MyriadPro-Regular', verdana;}
.form-wrapper{    float: left;
    width: 100%;
    margin-top: 50px; margin-bottom:50px;        max-width: 650px;}
               
.form-wrapper input[type="submit"],.form-wrapper input[type="button"]{ width: 110px; height: 40px; border:none; outline:none; background: url(../img/sb-bt.png) no-repeat; background-size:contain; font-size: 14px; font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif; font-weight:600; color:#fff; cursor:pointer;    margin-top: 30px;}
               
.form-row{ width:100%; float:left; margin-bottom:28px;}
 
.form-row hr{ width:96%; margin:0 auto; background:#1488c5; outline:none; border:none; height:2px;}
 
.form-row .left-col{     width: 302px; float:left;}
.form-row .right-col{     width: 302px; float:right;}
 
.form-row label{ float:left; width:100%;     font-size: 14px; color:#414042; font-family: Helvetica, Arial, sans-serif; margin-bottom:8px;}
.form-row input[type="text"], .form-row input[type="email"], .form-row input[type="tel"]{     width: 294px; height:32px; float:left; border:none; outline:none; background:#e7e8e9; color:#414042; font-size:14px; padding-left:8px; font-family:Helvetica, sans-serif; font-style:italic; }

 
.full-width-feild{width:100%; float:left;}
.full-width-feild input[type="text"]{ width:96%; height:37px; float:left; border:none; outline:none; background:#e7e8e9; color:#414042; font-size:14px; padding-left:4%; }
 
.form-feild-box{ width: 258px; float:left; margin-right: 40px;}
.form-feild-box label{ float:left; width:100%; font-size:18px; color:#414042; margin-bottom:0px;}
.form-feild-box input[type="text"]{ width:98%; height:37px; float:left; border:none; outline:none; background:#e7e8e9;     color: #414042;font-size:14px; padding-left:2%; }
.form-feild-box.last{  margin-right: 0;}
.form-feild-box p{ font-size:11px; color:#414042; font-style:italic;    margin-bottom: 7px;}
 
.form-row h3{    font-size: 18px;color: #414042; font-weight:normal; margin-bottom:10px; width:100%; float:left;}
 
.full-width-feild textarea{ width:98%; height:160px; border:none; outline:none; background:#e7e8e9; color:#414042; resize:none; padding-left:2%; padding-top:10px; font-size:14px; font-family:Helvetica, sans-serif;font-style:italic;}
 
.form-row.topspacing{ margin:30px 0 0 0;}
.form-row.topspacing2{ margin:15px 0 0 0;}
 
 
::-webkit-input-placeholder {
   color: #414042;
   font-style:italic;
   opacity:1 !important;
}
 
:-moz-placeholder { /* Firefox 18- */
   color: #414042;
   font-style:italic;
   opacity:1 !important;
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: #414042;
   font-style:italic;
   opacity:1 !important;
}
 
:-ms-input-placeholder { 
  color: #414042;
  font-style:italic;
  opacity:1 !important;
}
 
 
 
 
 
 
 
.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;width: 98% !important;padding: 0;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }
 
.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow: 0;box-shadow: 0;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius: 0;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999;}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}
 
/*************** default theme **********************/
 
.dd .ddArrow{width:16px;height:16px; margin-top:-8px;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color: #414042; background:#e7e8e9 url(../img/dropdown-arrow.jpg) right no-repeat; width:100%;     height: 22px; font-size: 14px;text-align: left;padding-left: 0; font-family: Helvetica, Arial, sans-serif;   z-index: 999;padding-left: 2%;    padding-top: 8px;font-style: italic;padding-bottom: 2px;}
.dd .ddTitle .ddTitleText{  padding: 0;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:14px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border: 0; background-color: #1792d2; left: 0px;
  top: 1px;padding: 10px 0 10px 0;
  height: auto !important;    max-height: 400px;
  margin-top: 2px;      z-index: 1000 !important;margin-left: 1px;}
.dd .ddChild li{   padding: 4px 0 4px 15px;    background-color: #1792d2; font-size: 14px;
  font-family:Helvetica, sans-serif;
  text-align: left;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color: #fff;}
.dd .ddChild li.hover{background-color:#127cb3;}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;   background-color: #1792d2;
  color: #000;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;}
 
/*Thank you*/
.thankyou{ width:1000px; margin:0 auto;}
.thankyou-layout{ width:100%; float:left; margin:4em 0;}
.thankyou-layout h1{    font-size: 50px;color: #414042;
    line-height: 55px;font-family: 'MyriadPro-Regular', verdana;
    font-weight: 300;}
.thankyou-layout p{    font-size: 14px;
    font-weight: normal; color:#414042;
    margin-top: 25px;font-family: Helvetica, Arial, sans-serif; }
 
 
 
 
footer{ width:100%; float:left; height:110px; background:#004067;     margin-top: 120px; font-family: Helvetica, Arial, sans-serif;}
.footer-content{ width:980px; margin:0 auto;  min-height: 55px; padding-top: 25px; margin-top: 5px;}
.footer-links{ width:70%; float:left;}
.footer-links p{ font-size: 12px;font-weight: normal;line-height: 15px;color: #fff;margin-top: 5px;font-family: Helvetica, Arial, sans-serif;}
.footer-links ul{ margin:0; padding:0; height:27px;}
.footer-links ul li{ border-right:1px solid #fff; margin:0; padding:0 10px; list-style-type:none; display:inline;}
.footer-links ul li a{ font-size:12px; color:#fff; text-decoration:none; font-weight:bold;}
.footer-links ul li.frst{ padding-left:0;}
.footer-links ul li.lst{ border-right:none;}
 
.connect-with-us{ width:20%; float:right;}
.connect-with-us p{ font-size:12px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color:#fff; text-align:right;}
 
.social-icon{ width:75px; float:right; margin-top:5px;}
.social-icon .left{ float:left; margin: 0 0 0 5px;}
 
 
.hamburgar-icon{ display:none;}
 
 
/*************** HOME **********************/
.home{width:100%; float:left; }
.sibos{ width:50%; max-width:580px; margin: 0 auto; padding-top:10%;}
.sibos img{ width:100%}
.sibos h1{ font-weight:normal;text-align:center; margin-top:25px;}
.home-reception{ max-width:1000px; margin:0 auto;}
.home-reception-form{ width:100%; float:left;}
 
.home-reception-form .left-col{ width:45%; float:left; margin-top:88px;}
.home-reception-form .right-col{ width:55%; float:right; margin-top:84px;}
 
 
.home-title-and-heading{ float:left;     margin-top: 0;}
.home-reception-form h1 span{ display: block;}
.home-reception-form h3 span{ display: block;}
.home-reception-form h3{ margin-top:0px; font-size: 18px;line-height: 22px; font-family:'MyriadPro-Regular',Helvetica,Arial,sans-serif; color:#464646; font-weight: 600;}
.home-reception-form h1{font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif;    font-size: 32px;color: #414042;font-weight: 600;      line-height: 36px;}
.home-reception-form p{     font-size: 14px;font-weight:normal; margin-top:25px; color:#414042;font-family: Helvetica,Arial,sans-serif;font-weight: 400;}
.home-reception-form p span{ display: block;}
.btn{ width:100%; float:left; margin-bottom:0px;}
 
 
 
.makenappointment{     width: 155px;height: 40px; background:url(../img/hm-bt.png) no-repeat; background-size:contain; border:none; outline:none; color:#fff; font-size:14px;font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif; float:left; font-weight: 600; margin-right:32px; margin-top:51px; cursor:pointer;}
.cocktailreception{ width: 155px;height: 40px; background:url(../img/hm-bt.png) no-repeat; background-size:contain; border:none; outline:none; color:#fff; font-size:14px; font-family:'MyriadPro-Regular', Helvetica, Arial, sans-serif; float:left; font-weight: 600; margin-top:51px; cursor:pointer;}
 
 
.form-wrapper{float: left;
width: 100%;
margin-top: 50px; margin-bottom:50px;}
 
 
 
 
  @media all and (min-width: 640px) and (max-width: 1000px) {
                 
                  
                   
                  
                  
                  
                  .header-logo{     width: 92%;}
                  .navigation{     width: 92%;}
                  .cocktail-reception{     width: 92%;}
                  .footer-content{     width: 92%;}
                  .anz-logo-right-col {width: 60%;}
                  .anz-logo-right-col p {font-size: 15px;}
                  .navigation ul li a {font-size: 14px;}
                  .navigation ul li {padding: 0 8px;}
                  .footer-links ul li a {font-size: 8px;vertical-align: middle;}
                  .footer-links p {font-size: 8px;}
                                .home-reception-form .left-col {
    width: 100%;
    margin-top: 30px;
}
 
.home-reception-form .right-col {
    width: 100%;
    margin-top: 15px;
}
.conversation {
    width: 46%;
    margin: 0 auto;
}
.conversation img {
    margin-top: 124px;
}
 
  }
 
  
  
  @media all and (min-width: 200px) and (max-width: 675px) {
	  
	  #header p { font-size: 8px;}
	 
	  .padboth {
    padding-left: 0;
    padding-right: 0;
}
	  
	  #header ul li.logo {
    margin-left: 52px;
}
.menu{background-color:#FFF;}

                 
                  .main-banner-img.cocktail-bnr {
    height: 250px;
}
 
.main-banner-img.cocktail-bnr.deligates-bnr {
    height: 250px;
}
.main-banner-img h1 {
    margin-left: 2%;
                    font-size: 28px;
}
                 
                  .header-logo{        width: 100%;}
                .navigation {
    width: 100%;
}
                  .cocktail-reception{     width: 92%;}
                  .footer-content{     width: 100%;}
                  .anz-logo-right-col {    width: 50%;    height: 36px;    background: url(../img/header-right-grednt.jpg) repeat-x;
    background-size: contain;}
                  .anz-logo-right-col p {
    font-size: 8px;
    line-height: 10px;
                    margin-top: 12px;
}
                 
                  .menu {
    background: #fff;
    height: auto;
    
    background: #fff;
 
}
 
 
.navigation ul li {
    padding: 0 0px;
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 0;
    padding-left: 20px;
	background: #004167;
	height: 100%;
    float: none;
}
 
 
.navigation ul li.frst {
    padding-left: 20px;
}
.navigation ul li.last{ border-bottom:0;}
 
 
 
.navigation ul {
    margin-left: 0px;
    display: none;
     padding: 20px 0;
    position: absolute;
    top: 0px;
    z-index: 999;
    background-color: #004167;
    padding-right: 25px;
}
 .navigation ul li:hover{ background:none;}
 .navigation ul li.active { background:none;}
.navigation ul li a {
       font-size: 12px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: #fff;
	background:none;
}
.navigation ul li a.active {
    color: #fff;
}
 
.hamburgar-icon{ display:block;    float: left;
    z-index: 999;
    position: absolute;
    top: -30px;;
    left: 3%; cursor:pointer;    width: 20px;}
               
                .header {
    height: 36px;
}
                .hamburgar-icon img{ width:100%;}
                .anz-logo {
            padding-left: 45px;
                width: 120px;
                background:url(../img/mbl-nv-bg.jpg) repeat-x; background-size:contain;
}
.header-logo-bar {
    background: url(../img/header-right-grednt.jpg) repeat-x;
    background-size: contain;
}
 
.header .left-blue-bar {
    height: 36px;
}
 
.header .right-blue-bar {
    height: 36px;
}
 
.anz-logo img{ width:100%;    display: block;}
.form-row input[type="text"], .form-row input[type="email"], .form-row input[type="tel"] {
    width: 96%;
    padding-left: 4%;
}
.form-row .right-col {
    width: 100%;
    float: left;
                    margin-bottom: 2em;
}
.form-row .right-col.mbl-rightcolspacing{margin-bottom: 1em;}
 
.form-row .left-col {
    width: 100%;
                    margin-bottom: 2em;
}
 
.form-row {
    margin-bottom: 0;
}
 
.form-feild-box {
    width: 100%;
    margin-right: 0;
}
.form-row hr {
    display: none;
}
.form-feild-box {
    margin-bottom: 2em;
}
.topspacing{margin-top: 2em;}
footer {
    text-align: left;
    padding-left: 4%;
    width: 96%;
 
}
 
.footer-content ul li a {
        font-size: 8px;
    vertical-align: middle;
    text-align: left;
}
.footer-content ul li {
    padding: 0 4px;
}
.footer-content p {
        font-size: 8px;
               
}
 
.full-width-feild textarea {
    margin-bottom: 2em;
                height:120px;
}
.submit-button{    margin: 0 auto;
    width: 100%;
    display: inline-block;
        text-align: left;}
               
               
                .thankyou {
    width: 100%;
}
.thankyou-layout {
    width: 94%;
    padding-left: 3%;
}
.thankyou-layout p {
    width: 100%;
                    font-size: 16px;
}
 
 
 
 
.home-reception-form .left-col {
    width: 100%;
    margin-top: 30px;
}
 
.home-reception-form .right-col {
    width: 100%;
    margin-top: 15px;
}
.conversation {
    width: 46%;
    margin: 0 auto;
}
.conversation img {
    margin-top: 124px;
}
 
.connect-with-us{ display:none;}
 
.footer-links {
    width: 100%;
}
 
 
 
                 
  }
 
  @media all and (min-width: 420px) and (max-width: 639px) {
                 
                  .anz-logo-right-col p {
    font-size: 10px;
}
 
.anz-logo {
    padding-left: 70px;
}
                 
  }
 
  @media all and (min-width:200px) and (max-width:480px){
.home-reception-form h1{ font-size:40px;  line-height:45px; font-weight:normal;}
}
  @media all and (min-width: 200px) and (max-width: 420px) {
                  .main-banner-img.home-bnr {
    background: url(../img/anz-home-bg.jpg) no-repeat center center;
    background-size: 151%;
    background-position: 36% 0%;
                height: 403px;
}
.conversation img {
        margin-top: 32%;
}
.home-reception-form h1 {
    font-size: 24px;
    line-height: 28px;
}
.home-reception-form h3 {
    font-size: 13px;
}
.conversation {
    width: 55%;
}
 
.home-reception-form p {
    font-size: 13px;
    margin-top: 6px;
}
 
.makenappointment {
    width: 155px;
    height: 40px;
    background: url(../img/hm-bt.png) no-repeat;
    background-size: contain;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 51px;
}
 
.cocktailreception {
    width: 155px;
    height: 40px;
    background: url(../img/hm-bt.png) no-repeat;
    background-size: contain;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 51px;
}
.home-reception-form .left-col {
    margin-top: 0px;
}
footer {
    margin-top: 30px;
}
 
.footer-content p {
    font-size: 7px;
}
 
  }
 
  
  @media all and (min-width: 768px) and (max-width: 2000px) {
                  .navigation ul {
                display:block !important;
}
  }
 
  
  
 

@media all and (min-width:768px) and (max-width:1100px){
.home-reception-form{ padding: 5%; }
.home-reception { width: 90%; margin:0;}
 
 
}
 
@media all and (min-width:480px) and (max-width:768px){
.home-reception {margin:0;}
}
 
@media all and (min-width:200px) and (max-width:768px){
button{ float:none; display:block;     margin: 1em auto;}
.home-reception-form{ padding: 5%;}
.home-reception { width: 90%; margin:0;}
}
 
 
 
 
 
 
/*************** Deligates **********************/
 
.tabs-bar{ float:left; overflow:hidden; width:100%; margin-top:62px; margin-bottom:5px;     border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
-ms-border-radius: 10px 10px 0 0;
-o-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
    z-index: 999;
    position: relative;}
 
.deligates{width:100%; float:left;}
.deligates-reception{ max-width:1000px; margin:0 auto;}
.deligates-reception-form{ width:100%; float:left;}
.deligates-title-and-heading{ float:left; margin-top:0; padding: 0;}
.deligates-reception-form h1{ font-size:50px;  line-height:50px; font-weight:normal;}
.tab{ width:190px; height:53px;     float: left; background:url(../img/inactive-tab.jpg) repeat-x; text-align: center;     display: table;    margin-top: 0;
        margin-right: 5px;
    margin-bottom: 0; cursor:pointer;}
                .tab.lst{ margin-right:0;}
                .tab.active{background: #fff url(../img/active-tabe.jpg) repeat-x;     border-bottom: 4px solid #038acc;height: 58px;}
                .tab.active p{ color:#fff;}
.tab p{ font-size:12px; color:#414042;font-weight:normal; margin-top:10px; text-transform:uppercase; font-family: Helvetica, Arial, sans-serif; vertical-align:middle; display:table-cell;}
.tab p span{ display: block;}
.content{width: 90%;clear: both;background-color: #f7f7f7;padding: 5%;     float: left; margin-top:-9px;}
.content h1{ font-size:20px;line-height:50px; margin-bottom:30px;font-family: 'MyriadPro-Regular', Helvetica, Arial, sans-serif;color: #414042; font-weight: 600; }
.content h3{ font-size:16px; font-family:Helvetica, Arial, sans-serif; color:#1792d2;  line-height:20px; font-weight:600; margin-top:20px}
.content p{     font-size: 12px;font-family: Helvetica, Arial, sans-serif;color: #414042;line-height: 15px;font-weight: normal; margin-top: 5px;}
.content p span{ display:block;}
.content p.last{ margin-bottom:60px;}
 
.form-wrapper{float: left; width: 100%; margin-top: 50px; margin-bottom:50px;}
 
@media all and (min-width:700px) and (max-width:1000px){
               
                .tab {
    width: 24.5%;
    min-height: 53px;
	height:53px;
    background: url(../img/inactive-tab.jpg) repeat-x;
                background-size:100% 100%;
        margin-right: 0.6%
}
.deligates-reception-form {
    width: 92%;
    margin-left: 4%;
}
}
 
@media all and (min-width:200px) and (max-width:699px){
               
                .content {
					margin-top:20px;
}
.deligates {
    width: 80%;
    margin-left: 10%;
}
 
.tab.active {
    background: #fff url(../img/active-tabe.jpg) repeat-x;
    border-bottom: 0;
    height: auto;
    min-height: 100px;
	height:100px;
    background-size: 100% 100%;
}
.tabs-bar {
    border-radius: 0px 0px 0 0;
    -moz-border-radius:0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
}
.tab {
    width: 100%;
    background: url(../img/inactive-tab.jpg) repeat-x;
    margin-right: 5px;
    margin-bottom: 10px;
    height: auto;
    min-height: 100px;
	height:100px;
    background-size: 100% 100%;
}
.tab p {
    font-size: 16px;
 
    padding: 0 20px;
}
}
 
 
 
 
 
 
/*New psd css*/
 
@media all and (min-width:640px) and (max-width:768px){
               
                .home-reception-form .left-col {
    width: 100%;
    margin-top: 30px;
}
 
.home-reception-form .right-col {
    width: 100%;
    margin-top: 15px;
}
.conversation {
    width: 46%;
    margin: 0 auto;
}
.conversation img {
    margin-top: 124px;
}
               
}
 
 
 
 
@media all and (min-width:200px) and (max-width:1000px){
 
.main-banner-img h1 {
               
                margin-left:2%;
}
.main-banner-img .main-bnnr-layout {
    width: 100%;
    margin: 0 auto;
}
 
}
 
 
 
 
  @media all and (min-width: 680px) and (max-width: 1000px) {
 
/*Make an appointment form*/
                  .form-feild-box.last {
    margin-top: 20px;
}
.form-row.topspacing{ margin-top:30px;}
                .form-row.topspacing2{ margin-top:50px;}
               
               
 
  }
 
  @media all and (min-width: 421px) and (max-width: 679px) {
 
  .form-row .left-col.makeanapointment-3 {
    width: 48%;
}
 
.form-row input[type="text"].makeanapointment {
    width: 96%;
                padding-left: 4%;
}
 
.form-row .right-col.makeanapointment-3 {
    width: 48%;
    margin-left: 4%;
}
.form-row .left-col.makeanapointment {
    width: 48%;
               
}
.form-feild-box {
    width: 48%;
    margin-right: 0;
    margin-left: 0;
}
.form-feild-box.guest2{ margin-left:4%;}
 
.form-row.mbl-width{     width: 75%;}
.form-row .left-col {
    margin-bottom: 2;
}
.form-row .right-col.makeanapointment-2 {
    margin-bottom: 0;
                    margin-left: 0;
    float: right;
                    width: 49%;
}
.form-row .left-col.makeanapointment-2 {
    margin-top: 0;
                    width: 49%;
}
 
.form-feild-box.last {
    margin-top: 30px;
}
 
.form-row.topspacing2 {
        margin: 0px 0 0 0;
}
 
  }
 
   @media all and (min-width: 200px) and (max-width: 420px) {
                   form-row .left-col.makeanapointment-3 {
    width: 100%;
}.form-row input[type="text"].makeanapointment {
    width: 96%;
                    padding-left: 4%;
}
.form-row .right-col.makeanapointment-3 {
    width: 100%;
    margin-left: 0;
}
.form-row .left-col.makeanapointment-3 {
    width: 100%;
}
.form-row .left-col.makeanapointment {
    width: 100%;
}
 
.form-row .left-col.makeanapointment-2 {
    width: 100%;
}
.form-row .right-col.makeanapointment-2 {
    width: 100%;
    margin-left: 0;
}
.form-row.topspacing {
    margin: 0px 0 0 0;
}
 
.main-banner-img.cocktail-bnr.makeanappointment {
    height: 250px;
    background: url(../img/make-an-appointment.jpg) no-repeat center center;
    background-size: 200%;
    background-position: 86% 76%;
}
   }



#cocktail-reception-form input[type="text"], #cocktail-reception-form input[type="tel"], #cocktail-reception-form input[type="email"]{    width: 250px !important;
    height: 27px !important;
    color: #414042 !important;
    font-size: 14px !important; font-family:Helvetica, sans-serif;    font-style: italic;}
	
#cocktail-reception-form input[type="text"].bigtext{    width: 432px !important;padding-left: 8px;}


@media (max-width: 679px) and (min-width: 421px){
#cocktail-reception-form input[type="text"], #cocktail-reception-form input[type="tel"], #cocktail-reception-form input[type="email"] {
    width: 96% !important;
    padding-left: 4%;
}
#cocktail-reception-form input[type="text"].bigtext {
    width: 96% !important;
    padding-left: 4%;
}
}


@media (max-width: 420px) and (min-width: 200px){
#cocktail-reception-form input[type="text"], #cocktail-reception-form input[type="tel"], #cocktail-reception-form input[type="email"] {
    width: 96% !important;
    padding-left: 4%;
}

#cocktail-reception-form input[type="text"].bigtext {
    width: 96% !important;
    padding-left: 4%;
}

}


@media (max-width: 320px) and (min-width: 200px){
.cocktailreception {
    width: 120px;
    height: 37px;
    font-size: 10px;
}
.makenappointment {
    width: 120px;
    height: 37px;
    font-size: 10px;
}
.header {
    overflow: hidden;
}

.anz-logo-right-col {
    width: 47%;
}
.anz-logo-right-col p {
    font-size: 7px;
    margin-left: 7px;
}

}

.over-width{ width:440px;}
.form-feild-box.over-width2{ width:340px;}


@media (max-width: 679px) and (min-width: 421px){
.form-feild-box.over-width2 {
    margin-left: 0;
}
.over-width {
    width: 100%;
}
}

@media (max-width: 675px) and (min-width: 200px){
.form-feild-box.over-width2 {
    width: 100%;
}
.over-width {
    width: 100%;
}

.content p span{ display:inline;}

}
@media (max-width: 1000px) and (min-width: 640px){
.menu{ background: url(../img/bg-primary-nav3.png) no-repeat; background-position: -1135px top;; position: relative;}	}

